In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/AirlineETL')
connection = engine.connect()

In [3]:
airport_info = pd.read_csv("Data/airports.csv")
countries_info = pd.read_csv("Data/countries.csv")
route_info = pd.read_csv("Data/routes.csv")

In [4]:
route_df = route_info.drop(columns=[" codeshare", " stops"])
route_df.rename(columns={
    'airline ID': "airline_id",
    ' source airport': "source_airport",
    ' source airport id': "source_airport_id",
    ' destination apirport': "destination_airport",
    ' destination airport id': "destination_airport_id",
    ' equipment': "equipment"
}, inplace=True)


# route_df = route_df[route_df["source_airport"] != "IKE", "IOT", "JJA", "JUU", "MLH", "QFN", "QJH", 
#                     "QUV", "QUW", "SHP", "SXF", "UPK", "XEQ", "ZBL"]

route_df

,airline,airline_id,source_airport,source_airport_id,destination_airport,destination_airport_id,equipment
0,2B,410,AER,2965,KZN,2990,CR2
1,2B,410,ASF,2966,KZN,2990,CR2
2,2B,410,ASF,2966,MRV,2962,CR2
3,2B,410,CEK,2968,KZN,2990,CR2
4,2B,410,CEK,2968,OVB,4078,CR2
...,...,...,...,...,...,...,...
67658,ZL,4178,WYA,6334,ADL,3341,SF3
67659,ZM,19016,DME,4029,FRU,2912,734
67660,ZM,19016,FRU,2912,DME,4029,734
67661,ZM,19016,FRU,2912,OSS,2913,734
67662,ZM,19016,OSS,2913,FRU,2912,734

In [10]:
# Use pandas to load csv converted DataFrame into database
route_df.to_sql(name='airline_routes', con=engine, if_exists='append', index=False)

# Use pandas to load json converted DataFrame into database
#new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "airline_routes" violates foreign key constraint "airline_routes_source_airport_fkey"
DETAIL:  Key (source_airport)=(AER) is not present in table "airports".

[SQL: INSERT INTO airline_routes (airline, airline_id, source_airport, source_airport_id, destination_airport, destination_airport_id, equipment) VALUES (%(airline)s, %(airline_id)s, %(source_airport)s, %(source_airport_id)s, %(destination_airport)s, %(destination_airport_id)s, %(equipment)s)]
[parameters: ({'airline': '2B', 'airline_id': '410', 'source_airport': 'AER', 'source_airport_id': '2965', 'destination_airport': 'KZN', 'destination_airport_id': '2990', 'equipment': 'CR2'}, {'airline': '2B', 'airline_id': '410', 'source_airport': 'ASF', 'source_airport_id': '2966', 'destination_airport': 'KZN', 'destination_airport_id': '2990', 'equipment': 'CR2'}, {'airline': '2B', 'airline_id': '410', 'source_airport': 'ASF', 'source_airport_id': '2966', 'destination_airport': 'MRV', 'destination_airport_id': '2962', 'equipment': 'CR2'}, {'airline': '2B', 'airline_id': '410', 'source_airport': 'CEK', 'source_airport_id': '2968', 'destination_airport': 'KZN', 'destination_airport_id': '2990', 'equipment': 'CR2'}, {'airline': '2B', 'airline_id': '410', 'source_airport': 'CEK', 'source_airport_id': '2968', 'destination_airport': 'OVB', 'destination_airport_id': '4078', 'equipment': 'CR2'}, {'airline': '2B', 'airline_id': '410', 'source_airport': 'DME', 'source_airport_id': '4029', 'destination_airport': 'KZN', 'destination_airport_id': '2990', 'equipment': 'CR2'}, {'airline': '2B', 'airline_id': '410', 'source_airport': 'DME', 'source_airport_id': '4029', 'destination_airport': 'NBC', 'destination_airport_id': '6969', 'equipment': 'CR2'}, {'airline': '2B', 'airline_id': '410', 'source_airport': 'DME', 'source_airport_id': '4029', 'destination_airport': 'TGK', 'destination_airport_id': '\\N', 'equipment': 'CR2'}  ... displaying 10 of 67663 total bound parameter sets ...  {'airline': 'ZM', 'airline_id': '19016', 'source_airport': 'FRU', 'source_airport_id': '2912', 'destination_airport': 'OSS', 'destination_airport_id': '2913', 'equipment': '734'}, {'airline': 'ZM', 'airline_id': '19016', 'source_airport': 'OSS', 'source_airport_id': '2913', 'destination_airport': 'FRU', 'destination_airport_id': '2912', 'equipment': '734'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [5]:
airport_df = airport_info.drop(columns=["ident", "elevation_ft", "continent", "iso_region",
                                        "municipality", "scheduled_service", "gps_code", "local_code",
                                       "home_link", "wikipedia_link", "keywords"])

airport_df.rename(columns={
    "type": "ap_type",
    "name": "ap_name",
    "latitude_deg": "lat",
    "longitude_deg": "lng",
    "iso_country": "country_code",
}, inplace=True)

no_null_airport_df = airport_df.dropna(how='any')

no_null_airport_df

,id,ap_type,ap_name,lat,lng,country_code,iata_code
227,4650,small_airport,Utirik Airport,11.222000,169.852005,MH,UTK
449,6924,small_airport,Ocean Reef Club Airport,25.325399,-80.274803,US,OCA
607,7063,small_airport,Pilot Station Airport,61.934601,-162.899994,US,PQS
686,7139,small_airport,Crested Butte Airpark,38.851918,-106.928341,US,CSE
1103,7545,small_airport,LBJ Ranch Airport,30.251801,-98.622498,US,JCY
...,...,...,...,...,...,...,...
63117,342103,closed,Mt Logan Airstrip,60.792990,-138.694027,CA,ZYA
63118,27244,medium_airport,Yanji Chaoyangchuan Airport,42.882801,129.451004,CN,YNJ
63119,317861,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,CN,YKH
63125,342069,closed,Scandium Seaport,69.358704,-138.913910,CA,ZYT
63126,342102,closed,Scandium City Heliport,69.355287,-138.939310,CA,ZYW

In [21]:
# Use pandas to load csv converted DataFrame into database
no_null_airport_df.to_sql(name='airports', con=engine, if_exists='append', index=False)

# Use pandas to load json converted DataFrame into database
#new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.StringDataRightTruncation) value too long for type character varying(5)

[SQL: INSERT INTO airports (id, ap_type, ap_name, lat, lng, country_code, iata_code) VALUES (%(id)s, %(ap_type)s, %(ap_name)s, %(lat)s, %(lng)s, %(country_code)s, %(iata_code)s)]
[parameters: ({'id': 4650, 'ap_type': 'small_airport', 'ap_name': 'Utirik Airport', 'lat': 11.222000000000001, 'lng': 169.852005, 'country_code': 'MH', 'iata_code': 'UTK'}, {'id': 6924, 'ap_type': 'small_airport', 'ap_name': 'Ocean Reef Club Airport', 'lat': 25.325399398804002, 'lng': -80.274803161621, 'country_code': 'US', 'iata_code': 'OCA'}, {'id': 7063, 'ap_type': 'small_airport', 'ap_name': 'Pilot Station Airport', 'lat': 61.934601, 'lng': -162.899994, 'country_code': 'US', 'iata_code': 'PQS'}, {'id': 7139, 'ap_type': 'small_airport', 'ap_name': 'Crested Butte Airpark', 'lat': 38.851918, 'lng': -106.92834099999999, 'country_code': 'US', 'iata_code': 'CSE'}, {'id': 7545, 'ap_type': 'small_airport', 'ap_name': 'LBJ Ranch Airport', 'lat': 30.251800537100006, 'lng': -98.6224975586, 'country_code': 'US', 'iata_code': 'JCY'}, {'id': 7830, 'ap_type': 'small_airport', 'ap_name': 'Metropolitan Airport', 'lat': 42.223300933800004, 'lng': -72.31140136719998, 'country_code': 'US', 'iata_code': 'PMX'}, {'id': 7866, 'ap_type': 'seaplane_base', 'ap_name': 'Loring Seaplane Base', 'lat': 55.601299285900005, 'lng': -131.636993408, 'country_code': 'US', 'iata_code': 'WLR'}, {'id': 7977, 'ap_type': 'small_airport', 'ap_name': 'Nunapitchuk Airport', 'lat': 60.905591, 'lng': -162.44045400000002, 'country_code': 'US', 'iata_code': 'NUP'}  ... displaying 10 of 9239 total bound parameter sets ...  {'id': 342069, 'ap_type': 'closed', 'ap_name': 'Scandium Seaport', 'lat': 69.358704, 'lng': -138.91391000000002, 'country_code': 'CA', 'iata_code': 'ZYT'}, {'id': 342102, 'ap_type': 'closed', 'ap_name': 'Scandium City Heliport', 'lat': 69.355287, 'lng': -138.93931, 'country_code': 'CA', 'iata_code': 'ZYW'})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)

In [6]:
countries_df = countries_info.drop(columns=["wikipedia_link", "keywords", "continent"])

#countries_df.rename(columns={
#    "continent": "continent_id"
#}, inplace=True)

#countries_df.dropna(how='any',inplace=True)
countries_df

         id code                           name
0    302672   AD                        Andorra
1    302618   AE           United Arab Emirates
2    302619   AF                    Afghanistan
3    302722   AG            Antigua and Barbuda
4    302723   AI                       Anguilla
..      ...  ...                            ...
242  302609   YT                        Mayotte
243  302610   ZA                   South Africa
244  302611   ZM                         Zambia
245  302612   ZW                       Zimbabwe
246  302613   ZZ  Unknown or unassigned country

[247 rows x 3 columns]

In [14]:
countries_df["code"] = countries_df["code"].str.replace("NaN","N")
countries_df[countries_df["code"] == 'N']

Empty DataFrame
Columns: [id, code, name]
Index: []

In [19]:
countries_df["code"].value_counts

for index,row in countries_df.iterrows():
    if row[2] == "Namibia":
        countries_df.loc[index,"code"] = "N"
        
countries_df[countries_df["code"] == 'N']

         id code     name
156  302591    N  Namibia

In [20]:
# Use pandas to load csv converted DataFrame into database
countries_df.to_sql(name='countries', con=engine, if_exists='append', index=False)

# Use pandas to load json converted DataFrame into database
#new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)